<div class="slider-container">
    <h2>{{ title }}</h2>
    <div class="slider">
    <mat-card *ngFor="let item of items" class="slider-item" (click)="handleCardClick(item.id)">
        <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path + '/images'" alt="{{item.title}}">
        <mat-card-title>{{item.title}}</mat-card-title>
    </mat-card>
    </div>
    <mat-paginator 
        [length]="repository.currentTotalPages * 20"
        [pageSize]="20"
        pageIndex="{{repository.currentPage - 1}}"
        aria-label="Select page"
        (page)="onPageEvent($event)">
    </mat-paginator>
    <div class="navigation-buttons">
        <button mat-button (click)="repository.getFirstPage(category)" *ngIf="repository.currentPage > 2">Primera</button>
        <button mat-button (click)="repository.getLastPage(category)" *ngIf="repository.currentPage < repository.currentTotalPages - 1">Última</button>
    </div>
</div>
