/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: linear-gradient(to top, #fffade, #f7c49d, #f08584, #cd4a95, #673ab7);;}
